QPushButton {
    background : black;
    color : white;
}
QLabel#dateLabel {
    background : black;
    color : white;
    font : 36px;
}
QLabel#timeLabel {
    background : black;
    color : white;
    font : 100px;
}
QWidget#timeArea {
    background : black;
}



